<h1>Airplanes Index</h1>

<% if flash[:notice] %>
  Notice: <%= flash[:notice] %>
<% end %>

<pre>All Airplane data: <%= @airplanes.to_s %></pre>
<a href="/airplanes/new">Add a new airplane</a>

<br><br>

<img src="/public/boeing-757.jpg" alt="Boeing 757">
