<% if flash.now[:errors] %>
  <% flash.now[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<form action="/airplanes" method="post">
  <label>Make
    <input
      type="text"
      name="airplane[make]"
      value="<%= @airplane.make %>"
    >
  </label>

  <label>Model
    <input
      type="text"
      name="airplane[model]"
      value="<%= @airplane.model %>"
    >
  </label>

  <label>Form Authenticity Token
    <input type="text" name="authenticity_token" value="<%= form_authenticity_token %>">
  </label>

  <input type="submit">
</form>
